html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EAE0B9;
}

.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form {
  margin-top: 80px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.form h1 {
  margin-bottom: 50px;
}

.form h4 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none; 
  appearance: none;
  width: 10%; 
  height: 25px; 
  background: #d3d3d3; 
  outline: none; 
  opacity: 0.7; */
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; 
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px;
  height: 25px; 
  background: #04AA6D; 
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.img-container {
  margin-top: 40px;
  margin-left: 600px;
	max-width: 250px;
	width: 100%;
	background: #d0c59a;
	padding: 30px;
	border-radius: 30px;
}
.img-area {
	position: relative;
	width: 100%;
	height: 150px;
	background: gray;
	margin-bottom: 30px;
	border-radius: 15px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area .icon {
	font-size: 100px;
}
.img-area h3 {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 6px;
}
.img-area p {
	color: #999;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #d0c95a;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: 16px 0;
	border-radius: 15px;
	background: #6D9775;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--dark-blue);
}

/* .form h1 {
  
} */

input[type=text] {
  border: none;
  background-color: #EAE0B9;
  border-bottom: 2px solid #4B755C;
}

#card-container {
  width: 100%;
  display: flex;
  background-color: #4B755C;
}

.container img {
  width: 5%;
  height: 5%;
  padding-left: 20px;
  margin-top: 7px;
}

.container h1 {
  padding-left: 10px;
}

.container {
  margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
  color: #EAE0B9;
}
.container nav {
  float: right;
  flex-direction: column;
  margin-left: 800px;
}

.container nav ul {
  padding: 0;
  list-style: none;
}

.container nav li {
  display: inline-block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container nav li a {
  color: #EAE0B9;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.container nav li a:hover {
  color: #C8B282;
}

.container nav li a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C8B282;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.container nav li a:hover::before {
  width: 100%;
}

.submit-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.submit-container button {
  width: 200px;
  height: 70px;
  border: none;
  outline: none;
  background: #4B755C;
  color: #fff;
  font-size: 22px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 80px;
}

.submit-container button:hover {
  background-color: #45a049;
} 
