html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EAE0B9;
}

#card-container {
  width: 100%;
  display: flex;
  background-color: #4B755C;
}

.container img {
  width: 5%;
  height: 5%;
  padding-left: 20px;
  margin-top: 7px;
}

.container h1 {
  padding-left: 10px;
}

.container {
  margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 800;
  color: #EAE0B9;
}
.container nav {
  float: right;
  flex-direction: column;
  margin-left: 800px;
}

.container nav ul {
  padding: 0;
  list-style: none;
}

.container nav li {
  display: inline-block;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container nav li a {
  color: #EAE0B9;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

.container nav li a:hover {
  color: #C8B282;
}

.container nav li a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #C8B282;
  position: absolute;
  top: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

.container nav li a:hover::before {
  width: 100%;
}


.row {
  display: flex;
  margin-top: 60px;
}

.column {
  flex: 1;
  padding: 20px;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;  */
}

.row .column img {
  width: 250px;
  height: auto;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.row .column img:hover {
  transform: scale(1.1);
}

.column:first-child img {
  width: 270px;
  height: auto;
  margin-top: 30px; 
  margin-bottom: 40px;
}

.column:last-child img {
  margin-top: 10px; 
  margin-bottom: 40px;
}

/* .row .column .img #first-image{
  padding-top: 100px;
  margin-bottom: 20px;
} */
.row .column h1 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 800;
  color: #6D4F39;
  margin-bottom: 10px;
}

.row .column p {
  font-size: 20px;
  line-height: 1.4;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  color: #6D4F39;
  margin-bottom: 10px;
}

.title {
  margin-top: 60px;
  text-align: center;
}

.title h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  color: #6D4F39;
  text-transform: uppercase;
}

/* .column:first-child h1 {
  width: 270px;
  height: auto;
  margin-top: 30px; 
} */

.map-section {
  margin-top: 60px;
  background-color: #C4C5A1;
  padding-bottom: 125px;
}

.map-section .title h2 {
  padding-top: 60px;
  /* padding-bottom: 20px; */
  font-size: 32px;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 600;
  color: #6D4F39;
  text-transform: capitalize;
}

.map-section .map {
  text-align: center;
  padding: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.map-section .map svg path {
  fill: #4B755C;
  stroke: #eee;
  stroke-width: 0;
}

.map-section .map svg path:hover {
  fill: #7BC27F;
  stroke: #eee;
  stroke-width: .35;
  cursor: pointer;
}

